<%-include('./partials/header') %>

<div class="container d-flex flex-column p-5">
    <h2>REGISTER-FORM</h2>
    <form action='/register' method="POST">
    <div>
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password" required>
    </div><br>
    <input type="submit" class="form-control bg-success" value="Register">
    </form><br>
    <h3>Already have an account -></h3>
    <a href="/login" class="btn btn-primary">Login</a>
</div>
</body>
</html>